*out*
*pycache*
*timeloop-mapper*
log.txt
*/tmp/*
commands.txt
*.exe
Solver/device_placement/device_placement
gurobi.log
fix_estimation_time.py
model.ilp
Solver/device_placement/inputs/
Solver/solved_models/get_area_thpt.py
Solver/solved_models/auxillary/get_area_thpt.py
Solver/solved_models/auxillary/find_common_design.py
Estimator/estimates/*
Solver/out/*
GraphExtractor/out/*
